.dashboard-card {
    background-color: white;
    border: #2576ac 2px solid;
    border-radius: 20px;
}

.sm-block {
    height: 10%;
    width: 50%;
}

.lg-block {
    height: 7rem;
    width: 100%;
}

.big-block{
    width: 40%;
    height: 350px;
}

.first-row{
    display: inline-flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.points{
    margin-right: 5%;
}

.coins{
    margin-left: 5%;
}

.main-block-normal{
    height: 70%;
    /*border: black 1px dashed;*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main-block-left{
    height: 500px;
    /*border: black 1px dashed;*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main-block-full{
    /*height: 900px;*/
    border: black 1px dashed;
    width: 80%;
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.column {
    /*float: left;*/
    width: 50%;
    padding: 10px;
    align-content: center;
    /*height: 300px; */
    text-align: center;
}
.dashboard-card2 {
    background-color: white;
    border: #2576ac 2px solid;
    border-radius: 20px;
    margin: 20px;
}
/*--------------Pet------------------------*/
.main-block-pet{
    /*height: 900px;*/
    /*position: relative;*/
    border: black 1px dashed;
    width: 90%;
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}
.pet-row{
    display: flex;
    justify-content: left;
    align-content: start;
    /*margin: 1px;*/
    width: 100%;
    border: 4px solid purple;
}
.dashboard-petCard {
    /*background-color: white;*/
    border: #2576ac 3px solid;
    border-radius: 30px;
    margin: 10px;
    width: 380px;
    height: 380px;
}
.pet-name{
    font-size: 45px;
    font-family: "Berlin Sans FB";
    color: #2576AC;
    /*margin-right: 30px;*/
}
.pet-level{
    font-size: 25px;
    font-family: "Berlin Sans FB";
    color: #52C5AB;
}

.header-row{
    display: inline-flex;
    justify-content: left;
    margin-left: 45px;
    width: 100%;
}
.columnPet1 {
    /*float: left;*/
    width: 450px;
    padding: 5px;
    align-content: center;
    /*height: 300px; */
    text-align: center;
    border: 2px solid black;
}
.columnPet2 {
    /*float: left;*/
    width: 65%;
    padding: 5px;
    align-content: flex-start;
    /*height: 300px; */
    text-align: left;
    border: 2px solid black;
}
.pet-level-card {
    background-color: white;
    border: #2576ac 3px solid;
    border-radius: 20px;
    margin: 10px;
    height: 5rem;
    width: 85%;
}
.pet-articles-card {
    background-color: white;
    border: #2576ac 3px solid;
    border-radius: 20px;
    margin: 10px;
    margin-top: 5px;
    height: 8rem;
    width: 85%;
}
.pet-progress{
    margin-top: 25px;
}
.level-img{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
}
.level-row{
    display: inline-flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    /*border: 2px solid purple;*/
}
.article-text{
    display: inline-flex;
    justify-content: left;
    margin-left: 4px;
    font-size: 20px;
    font-family: 'Berlin Sans FB';
    color: #2576AC;
    margin-top: 20px
}
.colorBox{
    width: 50px;
    height: 50px;
    border: 3px solid #2576ac;
    border-radius: 10px;
    margin: 10px;
    alignment: left;
    align-items: start;
    align-content: start;
    text-align: left;
}
/*-----------------------------------------*/
.main-block-aside{
    height: 500px;
    /*border: black 1px dashed;*/
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}

.dashboard-label{
    text-align: center;
    --text-opacity: 1;
    font-weight: 700;
    font-size: 1.2rem;
    color: #2576ac;
    color: rgba(37, 118, 172, var(--text-opacity));
}

.card-content{
    text-align: center;
    place-content: center;
}

.card-text{
    font-size: 1.2rem;
    color: #2576ac;
    color: rgba(37, 118, 172, var(--text-opacity));
}

progress[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 25px;
    border-radius: 10px;
    border: #2576ac 2px solid;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-color: lightgreen;
        /*-webkit-linear-gradient(-45deg,*/
        /*transparent 33%, rgba(0, 0, 0, .1) 33%,*/
        /*rgba(0,0, 0, .1) 66%, transparent 66%),*/
        /*-webkit-linear-gradient(top,*/
        /*rgba(255, 255, 255, .25),*/
        /*rgba(0, 0, 0, .25)),*/
        /*-webkit-linear-gradient(left, #09c, #f44);*/

    border-radius: 10px;
    /*background-size: 35px 20px, 100% 100%, 100% 100%;*/
}



.table-header{
    background-color: #2576ac;
    --bg-opacity: 1;
    --text-opacity: 1;
    color: white;
    font-weight: bold;
    border: white 2px solid;
}

.table-cell {
    border: #2576AC 2px solid;
    color: #073c63;
    --text-opacity: 1;
}

.simple-table{
    margin: auto;
}

.table-label {
    font-size: 1.4rem;
}

.table-border {
    /*border-right: #2576ac 2px solid;*/
    /*border-bottom: #2576ac 2px solid;*/
    /*border-left: #2576ac 2px solid;*/
    /*border-color: #2576AC;*/
    border-radius: 0.5rem;
    --divide-opacity: 1;

}

.complete{
    /*border: black 1px dashed;*/
    height: 500px;
    width: 100%;
}

.button-area {
    /*width: 150px;*/
    /*height: 500px;*/
    width: 15%;
    /*border: red 1px dashed;*/
    color: #2576ac;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.act-square {
    width: 80%;
    /*height: 100%;*/
    /*border: black 1px dashed;*/
    height: 600px;
}

.activity {
    width: 40%;
    border: black 1px solid;
    height: 70%;
}

.act-main-square {
    width: 80%;
    /*width: 400px;*/
    border: #2576ac 2px solid;
    background-color: white;
    height: 55%;
    justify-content: center;
    vertical-align: center;
    margin-top: 12%;
    margin-left: 3rem;
}


.select-button {
    /*border: #2576AC 2px solid;*/
    /*border-radius: 50%;*/
    /*margin-top: 200px;*/
    /*height: 100px;*/
    /*width: 100px;*/
    width: 70%;
    /*height: 30%;*/
    /*background-color: #52c5ab;*/
}


.arrow-act{
    font-weight: bolder;
    font-size: 80px;
    color: #e5fcfb;
}

.button-hidden {
    display: none;
}

.button-show {
    display: block;
}

.activities-info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    /*border: orange 2px solid;*/
}

.bg-main{
    background-color:#e5fcfb;
}

.half-square {
    width: 50%;
    height: 600px;
    /*background-color: blueviolet;*/
    /*border: black 2px solid;*/
}

.activity-name{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    vertical-align: center;
    top: 50%;
    align-content: center;
    align-items: center;
}

.activity-rules{
    font-size: 1rem;
    color: black;
    font-weight: bold;
    vertical-align: center;

    /*top: 50%;*/
}

.level-button {
    background-color: #ACF9A4;
    width: 60%;
    height: 10%;
    color: #073C63;
    font-weight: bold;
    border-radius: 3rem;
    border: 2px solid #073c63;
    opacity: 3;
    /*display: inline-block;*/
    font-size: 1.5rem;
    /*margin: 10px 10px;*/
    /*padding: 10px 10px;*/
    transition-duration: 0.4s;
}
.level-button:hover{
    background-color: #52C5AB;
}

.list-button{
    background-color: #ACF9A4;
    width: 60%;
    height: 10%;
    color: #073C63;
    font-weight: normal;
    border-radius: 3rem;
    border: 2px solid #073c63;
    opacity: 3;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    /*margin: 10px 10px;*/
    /*padding: 10px 10px;*/
    transition-duration: 0.4s;
}

.level-button:hover, .list-button:hover{
    background-color: #52C5AB;
}

.list-button .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #073c63;
    color: white;
    position: absolute;
}

.level{
    font-weight: bold;
    color: #073c63;
    /*letter-spacing: 0;*/
    font-size: 1.3rem;

}
