
/* Add a black background color to the top navigation */
.topnav {

    background-color: #86E0E3;
    overflow: hidden;
    border-bottom: 4px solid;
    border-bottom-color: #2576AC;

}

.topnav-right{
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: gray;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #073C63;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #073C63;
}

.topnav a.inactive {
    font-size: 26px;
    color: gray;
}

/*.row {*/
/*    display: flex;*/
/*}*/

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}

#button1 {
    background-color: #ACF9A4;
    color: #073C63;
    border-radius: 40px;
    border: 3px solid #2576AC;
    display: inline-block;
    font-size: 40px;
    font-family: "Berlin Sans FB";
    margin: 20px 20px;
    cursor: pointer;
    padding: 20px 30px;

}

.footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 100%;

    height: 10px;


    right: 10px;
    margin-bottom: 20px;

}
.left{
    text-align:left;
    float:left;
}
.right{
    float:right;
    text-align:right;
}
.centered{
    text-align:center;
}
/*------------------------------------------------------------------*/
.row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
}
.cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
}
#homeRow{
    height:520px;
}
#cell1{
    justify-content:center;
    display:flex;
    align-items:center;
    flex-basis:40%;
}
#aveimg{
    color:black;
    width:auto;
    max-width:350px;
    min-height:350px;
    position:static;
    bottom:auto;
}

#cell2{
    /*padding:1px;*/
    flex-basis: 60%;
    display:flex;
    /*text-align:left;*/
    /*justify-content:right;*/
    align-self:center;
}

@media (max-width: 768px){
    .row{
        flex-wrap:wrap;
    }
}





/*---------------------------------------------------------------------------*/
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
